.navbar {
  background: #0d6efd;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li a {
  color: white;
  font-weight: bold;
}

.nav-links li a:hover {
  color: yellow;
}